body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/*
image.center {
  display: block;
  margin: 0 auto;
}
*/

a.fixedimg {
  position: fixed;  
  right: 0px; 
  top: 20px; 
  width: 220px;
}

a.fixedadv {
  position: fixed;  
  right: 0px; 
  top: 20px; 
  width: 150px;
}

header {
  width: 100%;
}

.form {
  text-align: center;
}

#form-search { 
  width: 450px;
  line-height: 32px;
  padding: 20px 10px;
}

.buttons {
  text-align: center;
    margin-left: 10px;
    margin-top: 25px; 
}